*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #752a9b;
    background: linear-gradient(90deg, rgba(117, 42, 155, 1) 0%, rgba(83, 237, 98, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}